.avatar {
    width: 24px;
    height: 24px;
    overflow: hidden;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

}

.avatar-image {
    width: 16px;
    height: 16px;
    object-fit: cover;
    margin: 2px;


}

.contributors {
    display: flex;
}