.done {

    border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #0AA7FF;
    color: #0AA7FF;
    font-weight: bold;
    padding-top: 30px;


}

.task-done {
    width: 100%;
    border: 1px solid #0AA7FF;
    background: rgba(10, 167, 255, 0.50);
    color: white;
    padding-left: .5rem;
    text-align: start;
    padding-top: .5rem;
    padding-bottom: .5rem;
}



.row {
    --bs-gutter-x: 0 !important;
}

.task-info {
    display: flex;
    justify-content: space-between;
    font-weight: 100 !important;
}

.contributors {
    display: flex;
    margin-right: .1rem;
}

.avatar {
    width: 20px;
    height: 20px;
}

img {
    width: 20px;
}



p {
    margin-bottom: 0 !important;
}