.custom-nav {
    background-color: rgb(42, 42, 42) !important;
    width: 20% !important;
    position: sticky;
    top: 0;



    color: white;
    padding-top: 10px;
    background-color: #070311 !important;
    font-family: 'Poppins', sans-serif;
    border-right: solid 1px #F72485 !important;


    height: 100vh;
}

.custom-nav img {
    width: 75px;
    position: fixed;
    top: 90vh !important;
    left: 4vw;
}

.my-accordion {

    border: 1px solid #0AA7FF;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

.accordion-header {
    color: #0AA7FF;
}


.my-accordion-button {
    color: white;
}

.my-accordion-body {
    height: 150px !important;
    max-height: 250px !important;
}

.scrollable-content {
    height: 150px;
}

.scrollable-content::-webkit-scrollbar {
    display: none;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #F72485 !important;
}