.custom-nav-hor {
    width: 100% !important;

    position: absolute;
    background-color: #100724 !important;
    font-family: 'Popins', sans-serif;
    align-items: center;
    border-bottom: solid 1px #F72485 !important;
    z-index: 100 !important;

}

img {
    width: 100px;
}

.my-nav-link {
    color: white !important;
    padding-bottom: 0px !important;
}