.custom-nav-hor {
    width: 100% !important;

    position: absolute;
    background-color: #100724 !important;
    font-family: 'Popins', sans-serif;
    align-items: center;
    border: solid, 5spx, rgb(240, 14, 14);

}

img {
    width: 100px;
}

.my-nav-link {
    padding-bottom: 0px !important;
}