.row {
    --bs-gutter-x: 0 !important;
}

.task-col {

    justify-content: space-between;
    font-weight: 100 !important;
    height: 70vh !important;
}

.title {
    padding: 1rem;
}

.my-scrollable-content {

    overflow-y: auto;
    height: 100%;
}

.my-scrollable-content::-webkit-scrollbar {
    display: none;
}

.my-Link {
    text-decoration: none;
}