.edit-project-form {
    color: white;
}



.user-select {
    position: fixed;
    top: 30%;
    right: 7%;
    width: 30%;
}

.selectioned-user {
    margin-left: 2rem;
}

.description {
    margin-right: 1rem;
}

.my-user-select {
    display: flex;
    align-items: center;

}

.avatar-image {
    background-color: white;
}

.title-form {
    margin-right: 2.5rem !important;
}

.edit-date-form {
    padding-right: 2rem !important;

}