body {
  font-family: 'Poppins', 'sans-serif';
  color: rgb(255, 255, 255);
  background-color: #100724 !important;


}

.app-flex {
  display: flex;
}

.myButton {
  background-color: #0AA7FF !important;
  width: 100%;
  border: 0px !important;
}

.myButton:hover {
  background-color: #0b82c8 !important;
  width: 100%;
  border: 0px !important;
}


.myButton2 {
  border: 3px solid #F72485 !important;
  background-color: transparent !important;
  color: #F72485 !important;
  transition: all 0.3s ease;
  width: 100%;


}

.myButton2:hover {
  background-color: #F72485 !important;
  color: white !important;

}

h2 {
  font-size: 1.5rem !important;


}

h3 {
  font-size: 1rem !important;

}

p {
  font-size: .75rem;
  font-weight: 500 !important;
}