body {
  font-family: 'Poppins', 'sans-serif';
  color: rgb(255, 255, 255);

  overflow-y: hidden;


}

.app-flex {
  display: flex;
}

.myButton {
  background-color: #0AA7FF !important;
  width: 100%;
  border: 0px !important;
}

.myButton:hover {
  background-color: #0b82c8 !important;
  width: 100%;
  border: 0px !important;
}


.myButton2 {
  border: 1px solid #F72485 !important;
  background-color: transparent !important;
  color: #F72485 !important;
  transition: all 0.3s ease;
  width: 100%;
}

.myButton2:hover {
  background-color: #F72485 !important;
  color: white !important;

}

.myButton3 {
  background-color: #F72485 !important;
  transition: all 0.3s ease;
  border: 0px !important;
}

.myButton3:hover {
  background-color: #b51962 !important;
  border: 0px !important;
}

.myButton4-outline {
  border: 1px solid white !important;
  background-color: transparent !important;
  color: white !important;
  transition: all 0.3s ease;
}

.myButton4-outline:hover {
  background-color: white !important;
  color: #100724 !important;
}

.myButton5-outline {
  border: 1px solid #0b82c8 !important;
  background-color: transparent !important;
  color: white !important;
  transition: all 0.3s ease;
}

.myButton5-outline:hover {
  background-color: #0b82c8 !important;
  color: white !important;
}

h2 {
  font-size: 1.5rem !important;


}

h3 {
  font-size: 1rem !important;

}

p {
  font-size: .75rem;
  font-weight: 500 !important;
}