.Home-Page {
    background-color: #100724 !important;
    width: 100%;
    color: white;
    font-family: 'Poppins';
    height: 100vh;
    position: relative;
    width: 80vw;
    padding-top: 2rem;
}