.home-page {
    background-color: transparent !important;
    color: white;
    font-family: 'Poppins';
    height: 80vh;
    width: 100vw !important;
    padding-top: 4rem;
}

.claim {
    width: 50%;
    color: white;
    font-size: 3rem;
}



.lottie {
    width: 100%;
}